$orange: #F64C12;
$light: #E5E5E5;
$navy: #191765;
$neon: #EDECFF;
$light_navy: #9390FF;
$border: #646369;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $light;
}

html,
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $light;
    background-color: $navy;
}

.one {
    position: absolute;
    height: 184px;
    width: 184px;
    left: 69px;
    top: 237px;
    border-radius: 50%;
    background: $orange;
    filter: blur(30px);
}

.two {
    height: 226px;
    width: 226px;
    left: 1043px;
    top: 546px;
    border-radius: 0px;
    position: absolute;
    filter: blur(50px);
    background-color: $neon;
}

.three {
    height: 700.9167943595123px;
    width: 77.52848313611619px;
    left: 0px;
    top: 1079.1184692382812px;
    border-radius: 35%;
    position: absolute;
    background: $neon;
    filter: blur(20px);
    transform: rotate(-66.38deg);
}

.four {
    height: 402.00000592573326px;
    width: 108.00000159198805px;
    left: 1160.28125px;
    top: 1700.7431030273438px;
    border-radius: 0px;
    position: absolute;
    background: $orange;
    filter: blur(50px);
}

.five {
    height: 155px;
    width: 308px;
    left: -41px;
    top: 2648px;
    border-top-right-radius: 50%;
    position: absolute;
    background: $orange;
    filter: blur(50px);
}

.six {
    height: 916.3824115191364px;
    width: 246.19229831609636px;
    left: 970.298828125px;
    top: 2534px;
    border-radius: 0px;
    position: absolute;
    background: #EDECFF;
    filter: blur(50px);
    transform: matrix(-0.26, 0.47, 0.47, 0.26, 0, 0);
}

.effectA:hover {
    filter: blur(0px);
    box-shadow: 0 0 10px 0 $neon,
    0 0 20px 0 $neon,
    0 0 40px 0 $neon,
}

.effectO:hover {
    filter: blur(0px);
    box-shadow: 0 0 10px 0 $orange,
    0 0 20px 0 $orange,
    0 0 40px 0 $orange,
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h4 {
        font-size: 14px;
        letter-spacing: 2px;
    }
    ul {
        display: flex;
        list-style: none;
        li {
            padding: 1rem;
            line-height: 20px;
            a {
                font-size: 15px;
                text-decoration: none;
                position: relative;
                &::before {
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-color: $orange;
                    top: 20px;
                    left: 0;
                    transition: 0.5s;
                }
                &:hover::before {
                    transform: scaleX(0.5);
                }
            }
        }
    }
}

main {
    text-align: center;
    margin: 8rem auto;
    h1 {
        font-size: 70px;
        line-height: 105.47px;
        color: $light_navy;
        font-weight: 700;
    }
    h3 {
        font-size: 30px;
    }
    p {
        width: 447px;
        margin: 0 auto;
        line-height: 35px;
        font-size: 20px;
        font-weight: 200;
        padding: 5rem 0;
    }
    .skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0;
        width: 548px;
        margin: 0 auto;
        text-align: start;
        border-top: 1px solid $orange;
        border-bottom: 1px solid $orange;
        padding: 2rem 0;
        ul {
            list-style: none;
            .heading {
                color: $light_navy;
                font-size: 18px;
                padding: 0.5rem 0;
            }
            li {
                line-height: 25.5px;
                font-size: 13.5px;
                font-weight: 400;
            }
        }
    }
    .links {
        padding: 5rem 0;
        li {
            padding: 0 0.5rem;
        }
    }
}